---
# Security updates configuration

- name: Install unattended-upgrades
  apt:
    name: unattended-upgrades
    state: present
  become: yes
  when: ansible_os_family == "Debian"
  tags:
    - updates
    - packages

- name: Configure automatic security updates
  template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: '0644'
  become: yes
  when: ansible_os_family == "Debian"
  tags:
    - updates
    - configuration