---
# System package installation tasks

- name: Update package cache (Debian/Ubuntu)
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"
  become: yes
  tags:
    - packages
    - system

- name: Update package cache (RedHat/CentOS)
  yum:
    update_cache: yes
  when: ansible_os_family == "RedHat"
  become: yes
  tags:
    - packages
    - system

- name: Install essential system packages (Debian/Ubuntu)
  apt:
    name: "{{ common_packages }}"
    state: present
    install_recommends: no
  when: ansible_os_family == "Debian"
  become: yes
  tags:
    - packages
    - system

- name: Install essential system packages (RedHat/CentOS)
  yum:
    name: "{{ common_packages }}"
    state: present
  when: ansible_os_family == "RedHat"
  become: yes
  tags:
    - packages
    - system

- name: Install Python development packages
  package:
    name: "{{ python_dev_packages }}"
    state: present
  become: yes
  vars:
    python_dev_packages:
      - python3-dev
      - python3-pip
      - python3-venv
      - python3-setuptools
  when: ansible_os_family == "Debian"
  tags:
    - packages
    - python

- name: Install additional development tools
  package:
    name: "{{ dev_packages }}"
    state: present
  become: yes
  vars:
    dev_packages:
      - gcc
      - g++
      - make
      - pkg-config
      - libffi-dev
      - libssl-dev
      - zlib1g-dev
      - libbz2-dev
      - libreadline-dev
      - libsqlite3-dev
      - libncurses5-dev
      - libncursesw5-dev
      - xz-utils
      - tk-dev
  when: ansible_os_family == "Debian"
  tags:
    - packages
    - development

- name: Clean package cache (Debian/Ubuntu)
  apt:
    autoclean: yes
    autoremove: yes
  when: ansible_os_family == "Debian"
  become: yes
  tags:
    - packages
    - cleanup

- name: Verify essential packages are installed
  command: "which {{ item }}"
  register: package_check
  failed_when: package_check.rc != 0
  changed_when: false
  loop:
    - git
    - curl
    - wget
    - python3
    - pip3
  tags:
    - packages
    - verification